# Backend
backend/*/bin
backend/*/obj
backend/api/Properties/launchSettings.json
backend/api/app
backend/api/.cache
dcd.sln

node_modules/

version.ts

# frontend
/.pnp
.pnp.js
/coverage
/build

# Editors
.vscode
.idea
/.idea/

# Environment variables
.env

# Python
venv

#Cypress
frontend/cypress/videos
frontend/cypress/screenshots

#MacOS
.DS_Store

